@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(fonts/faune-regular.woff2), url(fonts/faune-regular.woff);
}

@font-face {
    font-family: "Faune";
    font-weight: 400;
    font-style: italic;
    src: url(fonts/faune-italic.woff2), url(fonts/faune-italic.woff);
}

@font-face {
    font-family: "Faune";
    font-weight: 700;
    src: url(fonts/faune-bold.woff2), url(fonts/faune-bold.woff);
}
