body {
  font-family: "Faune", Arial;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #2a2a2a;
  margin: 40px 40px 40px 320px;
}

section.options {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background-color: #2a2a2a;
  padding: 40px;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

div.option {
  margin-top: 20px;
}

div.option-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"]{
  width: 100%;
  background-color: #575757;
  border: none;
  color: #fff;
  outline: none;
  padding: 5px 7px;
}

label span {
  float: right;
  font-style: italic;
}

input[type="range"] {
  width: 100%;
}



textarea.output {
  font-size: 64px;
  width: 100%;
  min-height: 100vh;
  background: none;
  color: #fff;
  border: none;
  outline: none;
}
